apiVersion: apps/v1
kind: Deployment
metadata:
  name: frdeployment
  namespace: tmb13db1
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          image: prashantdey/travelmemory:fe
          ports:
            - containerPort: 3000
          envFrom:
            - configMapRef:
                name: frontend-config

# ingress-nginx kubectl apply -f https://raw.githubusercontent.com/kubernetes/ingress-nginx/controller-v1.14.0/deploy/static/provider/cloud/deploy.yaml
          